
.demo-home {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}
.demo-home {
	@include cmq (1601px, 5000px) {
		.container {
			width: 1520px !important;
		}
	}
	@include cmq (1400px, 1600px) {
		.container {
			width: 1320px !important;
		}
	}
}
.demo-home {
	.section-padding {
	padding: 120px 0;
}
.default-header {
	position: relative;
	z-index: 99999;
}

}
.demo-home {
	overflow-x: hidden;
	.sticky-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
	}
	.is-sticky {
		.demo-header {
			background-image: -moz-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
            background-image: -webkit-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
            background-image: -ms-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
		}
	}
	.demo-header {
		@include mobile {
			background-image: -moz-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
			background-image: -webkit-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
			background-image: -ms-linear-gradient( 180deg, rgb(126,62,255) 0%, rgb(189,42,255) 100%);
		}
	}
}


.p1-gradient-bg {
    background-image: -moz-linear-gradient( 0deg, rgb(94, 133, 252) 0%, rgb(196, 109, 253) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(94, 133, 252) 0%, rgb(196, 109, 253) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(94, 133, 252) 0%, rgb(196, 109, 253) 100%);
}

/// -----------  20 Home Zeplin ------------// 

.assertor-banner {
	@extend .p1-gradient-bg;
	.fullscreen {
		@include wide-mobile {
			height: 700px !important;
		}
	}
	h1 {
		font-size: 40px;
		line-height: 50px;
		font-weight: 400;
		@include mobile {
			font-size: 24px;
			line-height: 30px;
		}
	}
	p {
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		padding: 20px 0 30px 0;
	}
	.btn-first {
		padding: 0 80px !important;
	}
	.logo {
		height: 60px;
		width: auto;
		margin-bottom: 40px;
	}
}
.fw-300 {
	font-weight: 300 !important;
}
.btn-first {
	height: 38px;
	padding: 0 40px;
	display: inline-block;
	line-height: 38px;
	text-transform: capitalize;
	font-weight: 500;
	border-radius: 20px;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	@include transition (all .3s ease 0s);
	
	&.submit-btn {
		width: 100%;
		border-radius: 0px;
		cursor: pointer;
	}
	&.reply {
		border: 1px solid #cccccc;
		background: $light;
		box-shadow: none;
		height: 35px;
		line-height: 35px;
		padding: 0 30px;
		@include mobile {
			margin-top: 10px;
		}
	}
	&.color-17 {
		color: #6a69d2;
		background: $light;
		border: none;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 30px;
		&.gray-bg {
			background: #f9fafc;
		}
		&:hover {
			background: #5fb9fd;
			color: $light;
		}
	}
	&.color-18 {
		color: #333333;
		background: $light;
		border: none;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 30px;
		font-weight: 400;
		&:hover {
			@extend .p4-bg;
			color:#fff !important;
			box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
	&.color-19 {
		color: #333333;
		background: $light;
		border: none;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 30px;
		font-weight: 400;
		&:hover {
			background: #eb2153;
			color: #ffffff;
			box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
	&.color-20 {
		color: #fff;
		background: transparent;
		border: 1px solid #ed6722;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 30px;
		font-weight: 400;
		&:hover {
			background: #ed6722;
			color: #ffffff;
			box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
	&.color-21 {
		color: #fff;
		background: transparent;
		border: 1px solid #fff;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 30px;
		font-weight: 400;
		&:hover {
			background-image: -moz-linear-gradient( 90deg, rgb(0,176,255) 0%, rgb(255,255,255) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb(0,176,255) 0%, rgb(255,255,255) 100%);
			background-image: -ms-linear-gradient( 90deg, rgb(0,176,255) 0%, rgb(255,255,255) 100%);
			color: #333;
			box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
}


.single-home {
	margin-bottom: 50px;
	text-align:center;
	img {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		@include transition (all .3s ease);
	}
	&:hover {
		 img {
			 box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
		 }
	}
	.cap {
		margin-top: 20px;
		h3 {
			a {
				font-size: 16px;
				color: #333;
				text-transform: uppercase;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

#multiple {
	background: url(../img/demo/multiple.png);
	background-size: cover;
	padding-top: 100px;
	margin: 100px 0 50px;
}

#landing {
	background: url(../img/demo/landing.png);
	background-size: cover;
	padding-top: 100px;
	margin: 50px 0 50px;
}

#blog {
	background: url(../img/demo/blog.png);
	background-size: cover;
	padding-top: 100px;
	margin: 50px 0 50px;
}
#amazing-features {
	background: url(../img/demo/amazing_features.png);
	background-size: cover;
	padding-top: 100px;
	margin: 50px 0 100px;
}

#key-features {
	background: url(../img/key_features.png);
	background-size: cover;
	padding-top: 100px;
	margin: 100px 0 100px;
}

.main-title {
	padding-top: 100px;
	h3 {
		font-size: 70px;
		font-weight: 700;
		position: relative;
		@include mobile {
			font-size: 36px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 200px;
			height: 2px;
			background: #f31f7a;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	p {
		margin-top: 50px;
	}
}

//--------- Feature Area Start -----------//
.demo-feature {
	margin-bottom: 50px;
	background: #fafafa;
	@include mobile {
		background: #fff;
	}
	.desc {
		padding-left: 30px;
		background: #fafafa;
		@include mobile {
			padding: 30px;
		}
		@include tablet {
			padding: 30px;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 0;
		}
		
	}
}

.demo-icon-feature {
	padding: 30px;
	margin-bottom: 30px;
	position: relative;
	@include transition (all .3s ease);
	.icon {
		display: inline-block;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		box-shadow: -3px 11px 32px rgba(0, 0, 0, 0.08);
		text-align: center;
		@include transition (all .3s ease);
		span {
			font-size: 30px;
			line-height: 110px;
			color: #333;
			@include transition (all .3s ease);
		}
	}
	.desc {
		color: #333;
		padding: 40px 0 10px 0;
		font-size: 18px;
	}
	&:after {
		content: "";
		position: absolute;
		width: 0px;
		height: 2px;
		background: #000;
		top: 0;
		left: 0;
		@include transition (all .3s ease);
	}
	&:before {
		content: "";
		position: absolute;
		width: 2px;
		height: 0px;
		background: #000;
		top: 0;
		left: 0;
		@include transition (all .3s ease);
	}
	.line {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent;
		&:after {
			content: "";
			position: absolute;
			width: 0px;
			height: 2px;
			background: #000;
			bottom: 0;
			right: 0;
			@include transition (all .3s ease);
		}
		&:before {
			content: "";
			position: absolute;
			width: 2px;
			height: 0px;
			background: #000;
			bottom: 0;
			right: 0;
			@include transition (all .3s ease);
		}
		&:hover {
			&:after {
				width: 30px;
			}
			&:before {
				height: 30px;
			}
		}
	}
	&:hover {
		box-shadow: 1px 3px 5px 0 rgba(173, 173, 173, 0.19), 0 15px 25px rgba(212, 212, 212, 0.13);
    transform: translateY(-10px) !important;
		.icon {
			box-shadow: none;
			background: #333;
			span {
				color: #fff;
			}
		}
		&:after {
			width: 30px;
		}
		&:before {
			height: 30px;
		}
	}
}

.blockquote-area {
	padding: 120px 0;
	background: #f7fafc;
}
.ct-blockquote {
	.icon {
		
		i {
			font-size: 50px;
			color: #ddd;
		}
	}
	.desc {
		margin-left: 30px;
		h6 {
			font-size: 18px;
			line-height: 1.5em;
			span {
				display: inline-block;
			}
		}
	}
	.bottom {
		margin-top: 20px;
		.star {
			i {
				color: #f6b200;
			}
		}
		h6 {
			font-size: 16px;
		}
	}
}

.cta-bg {
	background: #10121d;
	position: relative;
	.mac-img {
		position: absolute;
		top: -20px;
		height: 500px;
		right: 50px;
		@include cmq (1200px, 1599px) {
			top: 50px;
			height: 420px;
		}
		@include tablet {
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			height: 300px;
		}
		@include mobile {
			display: none;
		}
	}
}
.cta {
	.left-content {
		h2 {
			font-size: 28px;
			color: #fff;
			line-height: 1.3em;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				width: 70px;
				height: 1px;
				background: #e0e5ff;
				bottom: -7px;
				left: 0;
			}
		}
		p {
			margin: 30px 0;
		}
		ul {
			li {
				color: #e0e5ff;
				margin-top: 10px;
			}
		}
	}
}

.footer-imac {
	position: absolute;
	bottom: 18px;
	left: 20px;
	@include mobile {
		display: none;
	}
	@include tablet {
		height: 280px;
		bottom: 50%;
		left: 0;
		transform: translateY(50%);
	}
	@include cmq (1200px, 1600px) {
		height: 400px;
	}
}

//------ Start Statistics --------//

.statistics {
	padding: 100px 0;
}

.stat-title {
	margin-bottom: 100px;
}

.stat-title h2 {
	color: #000;
	font-size: 48px;
	line-height: 36px;
	margin-bottom: 30px;
}

.stat-title p {
	color: #777777;
	font-size: 18px;
	line-height: 30px;
}

.stat-box {
	background-color: #f7f7f7;
	padding: 50px 30px;
	margin-top: 30px;
}
.stat-box .value {
	color: #f85b31;
	font-size: 93px;
	font-weight: 100;
	line-height: 0.6;
	margin-bottom: 20px;
}

.stat-box .value span {
	color: #cbc9c9;
	display: inline-block;
	font-size: 18px;
	margin-left: -20px;
	vertical-align: bottom;
}

.stat-box p {
	color: #333333;
	font-size: 22px;
	line-height: 38px;
}




.demo-footer {
	background: #10131b;
}
.demo-footer-content {
	p {
		font-style: italic;
		font-size: 18px;
		color: #fff;
	}
	h2 {
		font-size: 36px;
		color: #fff;
		line-height: 1.3em;
		font-weight: 700;
	}
}
.purchase-btn {
	line-height: 40px;
	background: #fff;
	color: #333;
	padding: 0 40px;
	display: inline-block;
	border-radius: 20px;
}
.footer-bg-demo {
	background: #f7fafc;
}





/*--------- Start Portfolio Area -------------*/
.portfolio-area {
    .primary-btn {
        color: #fff;
        background-color: #bf6efd;
        margin-left: auto;
        margin-right: auto;
    }
}

.portfolio-area .filters {
    text-align: center;
}

.portfolio-area .filters ul {
    padding: 0;
}

.portfolio-area .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 18px 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: #222;
    font-size:18px;
    font-weight: 400;
    @media(max-width: 736px) {
        padding: 6px 6px;
    }
}

.portfolio-area .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.portfolio-area .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
}

.portfolio-area .filters ul li.active {
    color: #5fbafc;
}

.portfolio-area .filters-content {
    margin-top: 50px;
}

.portfolio-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

.portfolio-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

.portfolio-area .filters-content .item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.portfolio-area .filters-content .item img {
    border-radius: 10px;
}

.portfolio-area .filters-content  .p-inner {
    padding: 20px 0px;
    text-align:center;
}

.p-inner {
	margin: 15px 0 25px;
	h4 {
		a {
			color: $title-color;
			&:hover {
				color: $primary-color;
			}
		}
	}
}


.portfolio-area .filters-content .item .p-inner .cat {
    font-size: 13px;
}

.portfolio-area .filters-content .item img {
    width: 100%;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.single-portfolio:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
}

.single-portfolio{
	border-radius:5px;
	img {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	} 
    &:hover{
		img {
			// box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 17px 33px 0px rgba(0, 0, 0, 0.44);
		}
        .thumb{
            .overlay-bg{
                opacity:.85;
            }
        }
    }    
}

.thumb{
    .overlay-bg{
        @extend .p1-gradient-bg;
        opacity:0;
        border-radius:5px;  
        @include transition();
    }
}

.single-portfolio {
	margin-bottom:30px;
}





