
//    Font Family

$primary-font	: 'Open Sans', sans-serif;

$title-font	: 'Dosis', sans-serif;


$primary-color	: #5fb9fd;
$title-color	: #333333;
$text-color		: #777777;
$border-color   : #dddddd;
$gray-bg        : #f7fafc;
$black          : #222;
$light			: #fff;
$dark			: #000;
$p1-color       : #ef484d;
$hover-shadow   : 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
$p2-shadow      : 0px 10px 15px 0px rgba(130, 61, 255, 0.25);



/*--------------------------- Color variations ----------------------*/